@model swapi_films_rater.Models.ViewModels.FilmDetailsViewModel

@{
    ViewData["Title"] = $"{Model.ApiDetails.Title} Details";
    Dictionary<string, string> dictionaryRouteData = new Dictionary<string, string>();
    dictionaryRouteData.Add("urlId", Model.UrlId.ToString());
    dictionaryRouteData.Add("episodeId", Model.ApiDetails.Episode_id.ToString());
    dictionaryRouteData.Add("Title", Model.ApiDetails.Title);
}

<section class="details">
    <h3 class="details__header">@Model.ApiDetails.Title</h3>

    <div class="details__content">
        <label class="details__label" asp-for="ApiDetails.Episode_id" ></label>
        <p>@Model.ApiDetails.Episode_id</p>

        <label class="details__label" asp-for="ApiDetails.Title"></label>
        <p>@Model.ApiDetails.Title</p>

        @*<p class="details__label">
                @Html.LabelFor(model => model.ApiDetails.Characters)
            </p>
            <p>
                @foreach(var item in Model.ApiDetails.Characters)
                {
                    @item <br/>
                }
            </p>*@

        <label class="details__label" asp-for="ApiDetails.Created"></label>
        <p>@Model.ApiDetails.Created</p>

        <label class="details__label" asp-for="ApiDetails.Director"></label>
        <p>@Model.ApiDetails.Director</p>

        <label class="details__label" asp-for="ApiDetails.Edited"></label>
        <p>@Model.ApiDetails.Edited</p>

        <label class="details__label" asp-for="ApiDetails.Opening_crawl"></label>
        <p>@Model.ApiDetails.Opening_crawl</p>

        <label class="details__label" asp-for="ApiDetails.Planets"></label>
        <p>
            @foreach (var item in Model.ApiDetails.Planets)
            {
                @item <br />
            }
        </p>

        <label class="details__label" asp-for="ApiDetails.Producer"></label>
        <p>@Model.ApiDetails.Producer</p>

        <label class="details__label" asp-for="ApiDetails.Release_date"></label>
        <p>@Model.ApiDetails.Release_date</p>

        @*<p class="details__label">
                @Html.LabelFor(model => model.ApiDetails.Species)
            </p>
            <p>
                @foreach(var item in Model.ApiDetails.Species)
                {
                    @item <br/>
                }
            </p>*@

        <label class="details__label" asp-for="ApiDetails.Starships"></label>
        <p>
            @foreach (var item in Model.ApiDetails.Starships)
            {
                @item <br />
            }
        </p>

        <label class="details__label" asp-for="ApiDetails.Url"></label>
        <p>@Model.ApiDetails.Url</p>

        @*<p class="details__label">
                @Html.LabelFor(model => model.ApiDetails.Vehicles)
            </p>
            <p>
                @foreach(var item in Model.ApiDetails.Vehicles)
                {
                    @item <br/>
                }
            </p>*@
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="button__custom">Go back</a>
    <a asp-area="" asp-controller="Films" asp-action="Rate" asp-all-route-data="dictionaryRouteData" class="button__custom">Rate Movie</a>
</section>

<partial name="_UserRatings" model="Model.FilmRatings" />