@model swapi_films_rater.Models.ViewModels.FilmDetailsViewModel

@{
    ViewData["Title"] = $"{Model.ApiDetails.Title} Details";
    Dictionary<string, string> dictionaryRouteData = new Dictionary<string, string>();
    dictionaryRouteData.Add("urlId", Model.UrlId.ToString());
    dictionaryRouteData.Add("episodeId", Model.ApiDetails.Episode_id.ToString());
    dictionaryRouteData.Add("Title", Model.ApiDetails.Title);
}

<section class="details">
    <h3 class="details__header">@Model.ApiDetails.Title</h3>

    <div class="details__content">
        <p class="details__label">@Html.LabelFor(model => model.ApiDetails.Episode_id)</p>
        <p>@Html.DisplayFor(model => model.ApiDetails.Episode_id)</p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Title)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Title)
        </p>

        @*<p class="details__label">
                @Html.LabelFor(model => model.ApiDetails.Characters)
            </p>
            <p>
                @foreach(var item in Model.ApiDetails.Characters)
                {
                    @item <br/>
                }
            </p>*@

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Created)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Created)
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Director)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Director)
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Edited)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Edited)
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Opening_crawl)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Opening_crawl)
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Planets)
        </p>
        <p>
            @foreach (var item in Model.ApiDetails.Planets)
            {
                @item <br />
            }
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Producer)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Producer)
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Release_date)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Release_date)
        </p>

        @*<p class="details__label">
                @Html.LabelFor(model => model.ApiDetails.Species)
            </p>
            <p>
                @foreach(var item in Model.ApiDetails.Species)
                {
                    @item <br/>
                }
            </p>*@

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Starships)
        </p>
        <p>
            @foreach (var item in Model.ApiDetails.Starships)
            {
                @item <br />
            }
        </p>

        <p class="details__label">
            @Html.LabelFor(model => model.ApiDetails.Url)
        </p>
        <p>
            @Html.DisplayFor(model => model.ApiDetails.Url)
        </p>

        @*<p class="details__label">
                @Html.LabelFor(model => model.ApiDetails.Vehicles)
            </p>
            <p>
                @foreach(var item in Model.ApiDetails.Vehicles)
                {
                    @item <br/>
                }
            </p>*@
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="button__custom">Go back</a>
    <a asp-area="" asp-controller="Films" asp-action="Rate" asp-all-route-data="dictionaryRouteData" class="button__custom">Rate Movie</a>
</section>

<partial name="_UserRatings" model="Model.FilmRatings" />