@model swapi_films_rater.Models.ViewModels.FilmDetailsViewModel

<section>
    <p>@Html.LabelFor(model => model.ApiDetails.Episode_id)</p>
    <p>@Html.DisplayFor(model => model.ApiDetails.Episode_id)</p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Title)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Title)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Characters)
    </p>
    <p>
        @Html.
        @Html.DisplayFor(model => model.ApiDetails.Characters)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Created, new { @class = "form-control" })
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Created)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Director)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Director)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Edited)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Edited)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Opening_crawl)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Opening_crawl)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Planets)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Planets)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Producer)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Producer)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Release_date)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Release_date)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Species)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Species)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Starships)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Starships)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Url)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Url)
    </p>

    <p>
        @Html.LabelFor(model => model.ApiDetails.Vehicles)
    </p>
    <p>
        @Html.DisplayFor(model => model.ApiDetails.Vehicles)
    </p>

    @Html.ActionLink("Rate movie", "Rate", "Films", new { Id = Model.ApiDetails.Episode_id, Title = Model.ApiDetails.Title })
</section>