@model swapi_films_rater.Models.ViewModels.FilmRateViewModel

<section class="rate">
    <h3>@Model.MovieName</h3>

    @using (Html.BeginForm("Rate", "Films", FormMethod.Post))
    {

        @Html.ValidationSummary(false, "", new { @class = "text-danger"})

        @Html.HiddenFor(model => model.UrlId)
        @Html.HiddenFor(model => model.EpisodeId)
        @Html.HiddenFor(model => model.MovieName)

        <div class="form-group">
            @Html.LabelFor(model => model.Rate)
            <div class="">
                @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Username)
            <div class="">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div>
            @Html.ActionLink("Go back", "Details", "Films", new { Id = Model.UrlId }, new { @class = "rate__button"})
            <input class="rate__button" type="submit" value="Submit" />
        </div>
    }
</section>